/* Container holding image and the text*/
*{
    margin:0;
    padding:0;
}
.container{
    width:80%;
    max-width: 1600px;
    margin:50px auto;
}
.bg-img {
    background-image: url('resources/Banner-Image.png');
    background-position: center;
    background-size: cover;
    background-color: black;
   
    margin: 0 auto;
    border-radius: 16px;
}



/* banner text*/
.banner-text {
    color: aliceblue;
    text-align: center;
    padding:150px 300px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.banner-text h4{
    color: #FFF;
font-family: Merriweather;
font-size: 32px;
margin-bottom: 16px;
font-weight: 400;
}

.text-two {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
}
