/* Container holding image and the text*/
*{
    margin:0;
    padding:0;
}
.container{
    width:80%;
    max-width: 1600px;
    margin:50px auto;
}
.bg-img {
    background-image: url('resources/Banner-Image.png');
    background-position: center;
    background-size: cover;
    background-color: black;
   
    margin: 0 auto;
    border-radius: 16px;
}



/* banner text*/
.banner-text {
    color: aliceblue;
    text-align: center;
    padding:150px 300px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.banner-text h4{
    color: #FFF;
font-family: Merriweather;
font-size: 32px;
margin-bottom: 16px;
font-weight: 400;
}

.text-two {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
}
/* second section */
.best-offfer{

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

} 
.deal{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
     font-weight: 500;
   }
   .ALL{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.image-tow{
    width: 802.9px;
height: 500px;
margin: 40px;
padding: 60px 350px;
}
.midnight{
color: #FFF;
font-family: Merriweather;
font-size: 54px;
font-weight: 900px;
line-height: 88px; 
width: 642px; 
padding:150px 20px;

text-align:bottom left ;
}
.Dolor{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;

font-weight: 400;
line-height: 30px;
padding:auto 20px;


}

.midnight-perty{

 text-align: left;
 padding:40px 20px;
 margin-bottom: 24px;
 
}



.big-img{
    background-image: url("resources/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-color: black;
    width: 1320px;
    height: 600px; 
    margin: 0 auto;
    border-radius: 16px;
    text-align:left center;
}


.third-image{
 display: flex;
 padding:0px 900px 0px ;
 margin: 20px 30px 0px 00px;
 position: absolute;
 
}
